/* Reset css start */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

body {
    min-height: 100vh;

}

/* Reset css end */

/* Header style  start */

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header_top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu_list{
 display: flex;
}

.menu_list-item + .menu_list-item {
    margin-left: 32px;
}

.menu_list-link {
    padding: 0 9px 9px;
}
/* Header style end  */
